<div class="container-md d-flex justify-content-center"> <!--  style="width:666px;" -->
    <table class="table table-striped table-sm table-hover" *ngIf="data">
        <thead class="table-light">
            <tr>
                <th scope="col">Timestamp</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{ item.timestamp }}</td>
                <td>{{ item.type }}</td>
            </tr>
        </tbody>
    </table>
</div>
<a routerLink="/logall">
    <button type="button" class="btn btn-info">Show whole Log</button>
</a>